@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@700;800;900&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&family=Kanit:wght@900&family=Noto+Sans+TC:wght@300;400;500;700&family=Noto+Serif+TC:wght@600;700;900&family=Titillium+Web:wght@900&family=Work+Sans:wght@900&display=swap');


*{
  margin: 0; padding: 0;
  list-style: none;
  text-decoration: none;
}
body{
  background: #f2f2f2;
  font-family: 'Noto Sans TC', sans-serif;
}
main{
  width: 100%;
  margin: 0 auto;
}
.item{
  padding: 60px 20px 0 20px;
}
.banner{
  margin: 30px 0;
  border-radius: 10px;
  width: 100%;
  height: 200px;
  background: rgb(145, 145, 145);
  text-align: center;
  line-height: 200px;
}
.banner p{
  font-size: 22px;
  color: #f2f2f2;
}
.new-hot-article{
  width: 100%;
}
.title{
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}
.title h2{
  font-size: 22px;
}
.title a{
  color: #000;
  align-self: end;
  position: relative;
  padding-right: 20px;
}
.title a::after{
  content: '\ea6e';
  font-family: 'remixicon';
  position: absolute;
  bottom: 0;
  z-index: 80;
  right: 0;
  font-size: 18px;
}
.item-article{
  padding: 20px;
  border-bottom: 1.5px solid rgba(153, 153, 153, 0.357);
  margin: 0 10px;
}
.item-article-end{
  border-bottom: none;
}
.item-article h3{
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #000;
}
.breadcrumb{
  margin: 30px 0 10px;
  border: 1px solid #333;
  border-radius: 10px;
  display: inline-block;
  padding: 5px 10px;
  font-size: 18px;
}
.breadcrumb a{
  color: #333;
}
h1{
  padding: 0px 0 10px;
  font-size: 30px;
}
.note-mood-h1{
    padding: 70px 0;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    transform: scale(1, 3.5)
}
.box{
    padding: 20px 20px;
    margin: 0px 0 35px;
    color: #999;
    border-radius: 10px;
/*     box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px; */
    box-shadow:2px 8px 15px 1px #96ff00;
    border: 1px solid #555;
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; 較明顯 */
    /* box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;中 */
    /* box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px; 中 */
    

    
  }
  .box h2{
    color: #000;
    font-size: 20px;
    margin-bottom: 5px;
  }
  .box p{
    padding-top: 0px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-weight: 400;
  }
  .photo-mood{
    width: 100%;
    height: 200px;
    margin: 0px auto 10px;
    border-radius: 20px;
  }
  .photo-mood img{
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
.labal-txt{
  color: #f2f2f2;
  display: inline-block;
  background: #333;
  padding: 5px 15px;
  border-radius: 10px;
  margin-right: 2px;
  margin-bottom: 10px;
  font-size: 14px;
}
.date{
  color: rgb(113, 113, 113);
}
.index-p{
  padding-top: 30px;
  font-size: 20px;
}
.photo{
  width: 80%;
  margin: 30px auto;
}
.photo img{
  width: 100%;
}
header{
    z-index: 100;
  width: 100%;
  height: 60px;
  background: #f2f2f2;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);  font-family: 'Noto Sans TC', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}
header .logo{
  padding-left: 30px;
  font-size: 25px;
  font-weight: bold;  
}
header .logo a{
    color: #333;
}
.hamburger{
  float: right;
  padding-right: 30px;
  height: 25px;
  width: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
}
.line{
  width: 100%;
  height: 4px;
  background: #000;
  border-radius: 200px;
  transition: .3s;
}
.change .line-1{
  transform: rotateZ(-45deg) translate(-6px,6px);
}
.change .line-2{
  opacity: 0;
}
.change .line-3{
  transform: rotateZ(45deg) translate(-6px,-6px);
}
nav{
  width: 100%;
  height: calc( 100vh - 61px );
  position: fixed;
  left: -100%;
  top: 61px;
  background: #f2f2f2;
  z-index: 110;
}
nav.change{
  left: 0;
}
.first-ul li{
  display: block;
  text-align: center;
}
.first-ul li a{
  font-size: 20px;
  border-radius: 10px;
  color: rgb(17, 17, 17);
  display: inline-block;
  width: 80%;
  margin: 20px 0;
  height: 30px;
  line-height: 30px; 
  padding: 10px 0;
  text-align: left;
}
.sub-menu{
  position: relative;
}
.first-ul li a.sub-menu:after{
  content: '\ea4e' ;
  position: absolute;
  right: 0;
  color: #333;
  font-size: 22px;
  font-family: 'remixicon';
  transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
}
.first-ul li a.activea.sub-menu:after{
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
}
.first-ul li.active ul{
  display: block;
}
.second-ul{
  display: none;
}
.second-ul li{
  width: 70%;
  margin: 0 auto;
  border-left: 2px solid #999;
}
.second-ul li a{
  background: inherit;
  margin: 10px;
  padding: 0px 20px;
}
section{
  margin-top: 20px;
}
section h2{
  margin-bottom: 0px;
  color: #333;
}
section p{
  letter-spacing: .3px;
  margin-top: 10px;
  font-size: 18px;
  text-align: justify;
  margin-bottom: 1.8rem;
  line-height: 1.8;
}
section .code{
  background: rgb(222, 222, 222);
  border-radius: 10px;
  width: 100%;
  margin: 20px auto;
  padding: 20px 30px;
  box-sizing: border-box;
  position: relative;
}
section .code .code-js{
  font-size: 14px;
  color: #c0c0c0;
  position: absolute;
  top: 5px;
  right: 15px;
  font-weight: 700;
  text-transform: uppercase;
}
.code-text{
  padding: 0 2px;
  font-size: 16px;
  font-weight: 400;
}
.code-let{
  color: rgb(0, 72, 217);
}
.code-value{
  color: rgb(69, 159, 69);
}
section h3{
  font-size: 22px;
  margin-bottom: 5px;
  margin-top: 30px;
}
section ol{
  padding-left: 60px;
  font-size: 18px;
  text-align: left;
}
section ol li{
  list-style: decimal;
  letter-spacing: .3px;
  font-size: 18px;
  line-height: 2;
}
section ol li a{
  color: rgb(167, 145, 0);
}
section li li::marker{
  content: counters(list-item,"-",list-item)" ";
}
section ol li ol{
  border-left: 1px solid #c0c0c0;
}
.text-ol{
  padding-left: 20px;
  text-align: left;
  margin-top: -25px;
}
.text-ol li{
  letter-spacing: .3px;
  font-size: 18px;
  line-height: 2;
}








@media screen and (min-width:768px){
  .hamburger{
    display: none;
  }
  header{
    height: 87px;
  }
  header .logo{
  padding-left: 250px;
  }
  nav{
    left: 0;
    height: auto;
    width: auto;
  }
  .first-ul{
    position: fixed;
    top: 0;
    right: 0;
    height: 87px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 100px;
  }
  .first-ul li{
    margin: 0px 15px;
    padding: 10px 25px;
    position: relative;
    border-radius: 10px;
    height: 30px;
    line-height: 30px;
  }
  .first-ul li a{
    text-align: center;
    margin: 0;
    padding: 0 ;
    width: 100%;
    height: 100%;
  }
  .first-ul li:hover{
    background: rgba(190, 190, 190, 0.257);
  }
  .first-ul li a.sub-menu::after{
    display: none;
  }
  .first-ul li:hover > ul{
  opacity: 1;
  visibility: visible;
  top: 60px ;
  }
  .second-ul{
  position: absolute;
  width: 250px;
  margin: 0 auto;
  top: 120px;
  left: -50px;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition: .5s;
  }
  .second-ul li{
  border: none;
  width: 80%;
  margin: 10px auto;
  padding: 10px 10px;
  }
  .second-ul li:hover{
    background: rgb(188, 188, 188);
  }
  .second-ul li a{
    background: rgba(0, 0, 0, 0);
  }
  .second-ul li a:hover{
  }
  main{
    width: 50%;
    margin: 0 auto;
  }
  .item{
    padding: 100px 40px 0 40px;
  }
  h1{
    padding: 0px 0 10px;
    font-size: 30px;
  }
  p{
    font-size: 20px;
    line-height: 40px;
  }
  .photo{
    width: 60%;
    margin: 30px auto;
  }
  .photo img{
    width: 100%;
  }
  .first-ul li.active ul{
  display: none;
  }










}
